[Unit]
Description=Antec Sensor Daemon
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/antec_sensor
WorkingDirectory=/run
Restart=always
RestartSec=2

User=root
Group=root

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
